* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(Neutrino-2-Cell.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header {
  text-align: center;
  margin: 20px;
}
.background-container {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  margin: 2%;
  padding: 1%;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 80px;
  padding: 2%;
}

.article {
  border-radius: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.7);
}

.article > img {
  border-radius: 20px;
  margin-bottom: 20px;
}
.contact {
  text-align: center;
  padding: 5% 5% 0 5%;
}
.link-item {
  margin: 1%;
  padding: 2px;
  font-size: 35px;
}
.contact a {
  text-decoration: none;
}
.contact a:hover {
  text-decoration: none;
}
#footerpara {
  padding: 4px;
  color: rgb(105, 103, 103);
}
.article button {
  margin-top: 2%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: blanchedalmond;
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    margin: 0 10% 0 10%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    grid-gap: 60px;
    padding: 1%;
    text-align: justify;
  }
  .article img {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .article img {
    width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .article img {
    width: 200px;
  }

  .contact {
    text-align: center;
    padding: 8% 8% 0 8%;
  }
}
